<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Mon portfolio</title>
</head>
<body>
    <form class="form__body" (ngSubmit)="sendmail(f)" #f="ngForm">
        <div class="form-group">
          <input type="text" class="form-control " name="name" id="name" placeholder="Your name" ngModel required/>  
        </div>
        <div class="form-group">
          <input type="email" class="form-control " name="email" id="emai" placeholder="Your email" ngModel required/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control " name="subject" id="subject" placeholder="Subject of your message" ngModel required/> 
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control large" name="message" id="message" placeholder="Write your message" ngModel  required></textarea>
        </div>

        <input type="submit" class="btn btn-success"  value="Contact Me"/>
      </form>
</body>
</html>
<router-outlet></router-outlet>